<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://file.garden/ZrZSgsrYfQXsO7QH/ww/webmasterwebring.css">
    <link rel="icon" type="image/x-icon" href="/images/pizza2.png">
    <title>The Pizza Parlor</title>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="description" content="Pizza's personal blog">
    <meta name="keywords" content="animatronics, pepperoni, pages, PepperoniPages, software,">
    <meta name="author" content="Noelle (The Nefarious Pizza Perpetrator)">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>
<body>  
    <div class="main">
        <script type="text/javascript" src="https://counter.websiteout.com/js/7/0/125/1"></script>
        <h1>Welcome to the Pizza Parlor</h1>
        <pepperonipages>
    </div>
</body>
</html>
<!--made with shit and piss by Pizza-->
