<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/pizza2.png">
    <title>The Pizza Parlor</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <h1>Welcome to the Pizza Parlor</h1>
        <pepperonipages>


    </div>
    <div class="sidenav">
        <a href="/index.html"><img src="/images/pizzaperp.jpg" alt="My profile picture." style="width: 60%; min-width: 60%;" ></a>
        <p>cyber-stalk me:</p>
        <p><a href="https://steamcommunity.com/id/half-life2fan/">
            <img src="/images/steamlogo.gif" alt="steam profile">
        </a></p>
        <p><a href="https://youtube.com/@pizzaperp95">
            <img src="/images/ytbutton.gif" alt="YT channel">
        </a></p>
        <p><a href="mailto:pizza@syntropicinteractive.com">
            <img src="/images/email.gif" alt="Email me">
        </a></p>
        <div class="spacer1">
             <map name="noaimini1">
                <area href="https://baccyflap.com/noai" shape="rect" coords="16,2,71,28" target="_blank" alt="no ai webring" title="no ai webring">
                <area href="https://baccyflap.com/noai/?prv&s=tnp" target="_top" shape="rect" coords="2,9,13,21" alt="previous" title="previous">
                <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="79,22,85,28" alt="random" title="random">
                <area href="https://baccyflap.com/noai/?nxt&s=tnp" target="_top" shape="rect" coords="74,9,85,21" alt="next" title="next">
            </map>
            <img usemap="#noaimini1" src="https://baccyflap.com/noai/miniwidget1.gif" alt="an image of the words NO AI / WEBRING in red, with a line through the O in NO. there are also two red arrows pointing left and right, and a little icon with two crossed arrows."> 
            <img src="/images/halflife.gif" alt="half-life">
            <img src="/images/doom.gif" alt="DOOM">
            <img src="/images/anythingbut.gif" alt="anything but chrome">
            <img src="/images/imissxp.gif" alt="I miss XP!">
            <a href="https://www.linuxfoundation.org/"><img src="/images/hatemac_b.gif" alt="I HATE MAC!!!"></a>
            <a href="https://www.linuxfoundation.org/"><img src="/images/hatems.gif" alt="I HATE MICROSOFT!!"></a>
            <a href="https://www.linuxfoundation.org/"><img src="/images/google_stand.gif" alt="Stand for open web standards!"></div></a>
            <a href="https://pizza.syntropicinteractive.com"><img src="/images/parlor.gif" alt="Go to the pizza parlor."></a>
            <a href="https://www.gimp.org/"><img src="/images/gimp.gif" alt="Images made with GIMP."></a>
        </div>
    </div>
</body>
</html>